* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gruppo", cursive;
  background: linear-gradient(0deg, black 0%, #cae7e7 40%);
}
body h2 {
  font-family: "Oxanium", cursive;
  font-size: 25px;
  color: #000055;
  text-transform: uppercase;
}
body h3 {
  font-family: "Oxanium", cursive;
  font-size: 19px;
  color: #000055;
}
body a {
  color: rgba(9, 9, 61, 0.89);
}
body header {
  width: 100%;
  height: 25vh auto;
  padding: 5px;
  background-color: black;
}
body header div h3 {
  color: #89c2c2;
  position: absolute;
  top: 15%;
  right: 1%;
  font-size: 15px;
}
body header div h1 {
  font-family: "Big Shoulders Stencil Display", cursive;
  display: inline-block;
  position: absolute;
  top: 25vh;
  left: 34vw;
  font-size: 40px;
  color: whitesmoke;
}
body header div .header__logo_irabajo {
  display: block;
  color: #bfc3c7;
  font-size: 15px;
}
body div nav {
  list-style: none;
  background: rgba(26, 30, 37, 0.842);
  color: whitesmoke;
  padding: 0.3px;
  width: auto;
  height: 8vh auto;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
}
body div nav ul {
  list-style: none;
  padding: 10px;
}
body div nav ul li {
  position: relative;
  display: inline-block;
  padding: 10px;
}
body div nav ul li li:hover {
  color: black;
  background-color: #7af8ee;
}
body div nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}
body div nav ul li a a:hover {
  color: #b32567;
  font-weight: bold;
  text-transform: uppercase;
}
body div nav ul li a ul {
  display: none;
  position: absolute;
}
body div nav ul li a ul li {
  display: block;
}
body div nav ul li a ul li li:hover {
  display: block;
  color: black;
}
body main {
  display: grid;
  row-gap: 1px;
  width: 100%;
  height: 200px auto;
  grid-template-areas: "Contenedor__SecRecomendados Contenedor__SecRecomendados" "Contenedor__SecDataBase Contenedor__SecDataBase" "Contenedor__SecLibrary Contenedor__SecLibrary" "Contenedor__SecStudents Contenedor__SecStudents" "Contenedor__SecCompetitions Contenedor__SecCompetitions";
}
body main div {
  margin: 5px;
  padding: 15px;
  grid-area: Contenedor__SecRecomendados;
}
body main div h2:hover {
  transform: rotateY(360deg);
  transition: all 4s;
}
body main div p {
  grid-column: 1/2;
}
body main div img {
  width: 70%;
  height: auto;
}
body main div {
  margin: 5px;
  padding: 15px;
  grid-area: Contenedor__SecDataBase;
}
body main div h2:hover {
  transform: rotateY(360deg);
  transition: all 4s;
}
body main div img {
  width: 70%;
  height: auto;
}
body main div {
  margin: 5px;
  padding: 15px;
  grid-area: Contenedor__SecLibrary;
}
body main div h2:hover {
  transform: rotateY(360deg);
  transition: all 4s;
}
body main div img {
  width: 70%;
  height: auto;
}
body main div {
  background-color: rgba(18, 116, 173, 0.425);
  margin: 5px;
  padding: 15px;
  grid-area: Contenedor__SecStudents;
}
body main div h2:hover {
  transform: rotateY(360deg);
  transition: all 4s;
}
body main div p {
  grid-column: 1/2;
}
body main div {
  margin: 5px;
  padding: 15px;
  grid-area: Contenedor__SecCompetitions;
}
body main div h2:hover {
  transform: rotateY(360deg);
  transition: all 4s;
}
body main div img {
  width: 70%;
  height: auto;
}
body footer {
  padding: 20px;
  background-color: black;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  border-top: solid 5px whitesmoke;
  grid-area: SecFooter;
}
body footer a {
  color: whitesmoke;
}
@media only screen and (max-width: 768px) {
  body body {
    background-color: black;
  }
  body h1 {
    color: antiquewhite;
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  body body {
    background-color: whitesmoke;
  }
  body h1 {
    color: #040447;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  body body {
    background-color: aliceblue;
  }
  body h1 {
    color: #161718;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  body body {
    background-color: #a2a2a3;
  }
  body h1 {
    color: #1c1c1d;
    font-size: 16px;
  }
}/*# sourceMappingURL=estilo_index.css.map */